@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: barlow;
  src: url('./assets/Fonts/Barlow/Barlow-Medium.ttf');
}
@font-face {
  font-family: krona;
  src: url(./assets/Fonts/Krona_One/KronaOne-Regular.ttf);
}

:root {
  font-family: barlow;
  color: rgba(255, 255, 255, 0.87);
}