@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: barlow;
  src: url('./assets/Fonts/Barlow/Barlow-Medium.ttf');
}
@font-face {
  font-family: barlowLight;
  src: url(./assets/Fonts/Barlow/Barlow-Light.ttf);
}
@font-face {
  font-family: krona;
  src: url(./assets/Fonts/Krona_One/KronaOne-Regular.ttf);
}
*{
  scrollbar-width: 0;
}
::-webkit-scrollbar{
  width: 0;
}
:root {
  font-family: barlow;
  color: rgba(255, 255, 255, 0.87);
}

.footer_social-icons{
  @apply text-[0.7rem] sm:text-[0.9rem] duration-300 hover:-translate-y-1 hover:scale-110
}
.footer_care_and_links{
  @apply text-xs font-barlowLight lg:text-[0.9rem] lg:tracking-wider lg:font-barlowLight duration-300 hover:text-white/70 hover:scale-95
}
.form_input{
  @apply bg-[#26262648] outline-none border border-white/25 rounded-sm pl-2 text-sm h-10 w-full
}
.background_design{
  background-image: radial-gradient(circle at 16% 83%, rgba(148, 148, 148,0.06) 0%, rgba(148, 148, 148,0.06) 50%,rgba(63, 63, 63,0.06) 50%, rgba(63, 63, 63,0.06) 100%),radial-gradient(circle at 68% 87%, rgba(66, 66, 66,0.06) 0%, rgba(66, 66, 66,0.06) 50%,rgba(105, 105, 105,0.06) 50%, rgba(105, 105, 105,0.06) 100%),radial-gradient(circle at 38% 50%, rgba(123, 123, 123,0.06) 0%, rgba(123, 123, 123,0.06) 50%,rgba(172, 172, 172,0.06) 50%, rgba(172, 172, 172,0.06) 100%),linear-gradient(90deg, hsl(18,0%,1%),hsl(18,0%,1%));
}
.background_design2{
  background-image: radial-gradient(circle at 99% 33%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 37%,transparent 37%, transparent 100%),radial-gradient(circle at 46% 16%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 43%,transparent 43%, transparent 100%),radial-gradient(circle at 99% 25%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 22%,transparent 22%, transparent 100%),radial-gradient(circle at 57% 88%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 86%,transparent 86%, transparent 100%),radial-gradient(circle at 82% 78%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 22%,transparent 22%, transparent 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
}

.profile_inputs{
  @apply bg-[#2626264b] border-[0.5px] border-white/30 w-full h-10 pl-2 text-xs lg:w-[69%] xl:w-[50%] disabled:text-gray-400 disabled:border-white/10 outline-none
}